# Notion Integration
NOTION_TOKEN=
NOTION_DATABASE_ID=
NOTION_DB_MOTOS=
NOTION_DB_CLIENTS=
DATABASE_VENDAS_ID=

# Authentication & JWT
JWT_SECRET=
ADMIN_PASSWORD=

# Mercado Livre
vML_CLIENT_ID=458087912144789
ML_CLIENT_SECRET=FpzTCzJmEG7FdcaMWk81H9nnNpxUTAQc
ML_ACCESS_TOKEN=APP_USR-458087912144789-031314-82c06a646fbda963d7fc2568a1e8f89b-2908181527
ML_REFRESH_TOKEN=TG-69b456d706333000017bd997-2908181527
ML_USER_ID=2908181527

# Firebase
FIREBASE_PROJECT_ID=

# WhatsApp (Bot)
WHATSAPP_PHONE=

# Gemini API Key
GEMINI_API_KEY=

# APP_URL
APP_URL=

# Supabase
SUPABASE_URL=https://pgseyqzdhuaewdctoxnv.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBnc2V5cXpkaHVhZXdkY3RveG52Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyNjE0ODksImV4cCI6MjA5MTgzNzQ4OX0.a98k8slSD6p4WgiLqfddDdQFUX4i15TcQqL0LJIcPIU
